In [34]:
!pip install py2neo

Requirement already satisfied: py2neo in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (2021.2.3)
Requirement already satisfied: packaging in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from py2neo) (20.4)
Requirement already satisfied: urllib3 in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.25.9)
Requirement already satisfied: monotonic in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.6)
Requirement already satisfied: pygments>=2.0.0 in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2.6.1)
Requirement already satisfied: pansi>=2020.7.3 in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2020.7.3)
Requirement already satisfied: certifi in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2020.6.20)
Requirement already satisfied: interchange~=2021.0.4 in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from py2neo) (2021.0.4)
Requirement already satisfied: six>=1.15.0 in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from py2neo) (1.15.0)
Requirement already satisfied: pytz in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from interchange~=2021.0.4->py2neo) (2020.1)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/rosee.m./opt/anaconda3/lib/python3.8/site-packages (from packaging->py2neo) (2.4.7)
WARNING: There was an error checking the latest version of pip.

In [35]:
from py2neo import Graph

In [36]:
graph = Graph("bolt://localhost:7687", auth=("neo4j", "password"))

In [37]:
type(graph)

py2neo.database.Graph

In [82]:
import pandas as pd
df_empl = pd.read_csv("Project 2 launch - Employees (1).csv") #employee info
df_act = pd.read_csv("Project 2 launch - Actors.csv") #actor info
df_hobby = pd.read_csv("Project 2 launch - Hobby.csv") #character hobby info
df_hob_pop = pd.read_csv("Project 2 launch - Hobby Popularity (1).csv") #hobby popularity
df_jobs = pd.read_csv("Project 2 launch - Jobs.csv") #character dunder mif job
df_empl

,Employee_ID,Employee_Name,job_ID,is_main_character,years_at_office,last_branch,actor_ID,hobby_ID,episodes
0,1,Michael Scott,6,True,18,Scranton,1,1,140
1,2,Jim Halpert,1,True,12,Scranton,2,2,186
2,3,Pam Beesly,2,True,10,Scranton,3,3,186
3,4,Dwight Schrute,1,True,14,Scranton,4,4,182
4,5,Angela Martin,7,True,12,Scranton,9,5,156
5,6,Andy Bernard,1,True,8,Scranton,6,6,144
6,7,Toby Flenderson,4,False,12,Scranton,8,7,153
7,8,Ryan Howard,9,False,8,Scranton,7,8,136
8,9,Kelly Kapoor,8,True,12,Scranton,5,9,186
9,10,Creed Bratton,10,False,16,Scranton,14,10,186
10,11,Kevin Malone,7,False,12,Scranton,10,11,184
11,12,Jan Levinson,11,False,12,NaN,18,13,174
12,13,Darryl Philbin,5,False,9,Scranton,17,12,101
13,14,Stanley Hudson,1,True,24,Scranton,15,16,186
14,15,Phyllis Vance,1,True,19,Scranton,11,17,186
15,16,Erin Hannon,2,False,5,Scranton,13,18,184
16,17,Oscar Martinez,7,True,12,Scranton,12,18,116

In [42]:
graph.run("MATCH (n) DETACH DELETE n")
from py2neo import Node
list = []

# populate db with all office character
for i in range(0,len(df_empl)):
    person = Node("Person", name = df_empl['Employee_Name'].iloc[i], branch = df_empl['last_branch'].iloc[i], episodes = (df_empl['episodes'].iloc[i]).item())
    graph.create(person)
    
# populate db with all office jobs
for i in range(0, len(df_jobs)):
    job = Node("Job", name = (df_jobs['job'].iloc[i]).title(), salary = df_jobs['salary'].iloc[i], education = df_jobs['typical_educational_requirement'].iloc[i])
    graph.create(job)

In [86]:
from py2neo import Relationship
WorksAs = Relationship.type("WORKS_AS")

from py2neo import Graph, NodeMatcher
#graph = Graph("bolt://localhost:7687", auth=("neo4j", "password"))
matcher = NodeMatcher(graph)

for i in range(0,len(df_empl)):
    empl_job = df_jobs[df_jobs['id'] == df_empl["job_ID"].iloc[i].item()][["job"]].iloc[0][0].title()
    per = df_empl["Employee_Name"].iloc[i]
    per_node = 
    empl = 
    graph.create(WorksAs())

str

'Michael Scott'

In [97]:
from py2neo import Graph, NodeMatcher
#graph = Graph("bolt://localhost:7687", auth=("neo4j", "password"))
matcher = NodeMatcher(graph)

empl_job = df_jobs[df_jobs['id'] == df_empl["job_ID"].iloc[0].item()][["job"]].iloc[0][0].title()

matcher.match("Person").where(name=df_empl["Employee_Name"].iloc[0]).first()
matcher.match("Job").where(name=empl_job).first()

Node('Job', education="bachelor's", name='Regional Manager', salary='60,000')

In [93]:
string = '"'+"_.name = '" + df_empl["Employee_Name"].iloc[0] + "'"+'"'
print(string)

"_.name = 'Michael Scott'"